.subheadingCardImage {
  width: auto;
  height: 100px;
  min-width: 170px;
  max-width: 170px;
  object-fit: cover;
}
.headingNewsCardImage{
  height: 250px;
}
.centerCardBox {
  width: 200px;
  height: 120px;
}
.mobile-three-card-section{
  flex-direction: column;
}
.CenterVirusConfrontSection {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.sideCardMobileView{
  padding-right: 1rem;
}
.bottomSubHeadingCardBox {
  display: flex;
  margin: 0.5rem;
}
.advertise_img {
  width: 100%;
  height: 100%;
}

.categorieSubheadingCard {
  padding: 1rem;
  max-width: 65%;
}
.categoriesSideCard {
  max-width: 31%;
}
.pfLogo {
  width: 100%;
  height: 60px;
}
.homeNewsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
}
.homePageNewsBox1 {
  /* max-width: 38%; */
  width: 90%;
  max-width: 400px;
}
.homePageNewsBox2 {
  max-width: 31%;
  margin: 40px 20px;
}
.homePageNewsBox3 {
  max-width: 31%;
}
.pfLogoFooter {
  width: 250px;
  height: 30px;
}

.read-more-container {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 8px;
}

.read-more-button {
  display: inline-block;
  background-color: #eb3032;
  color: #ffffff;
  padding: 6px 20px;
  font-size: 16px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  position: relative;
}

.read-more-button .arrow-icon {
  margin-left: 8px;
}

.read-more-button:hover {
  background-color: #cc0000;
}

.news_desc * {
  font-size: 14px;
  font-weight: 500 !important;
  margin-top: 0px;
}
.vedio_news_box {
  width: 100%;
  max-width: 300px;
  max-height: 250px;
}
.news_desc{
  display: -webkit-box;
}
.heading_title {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 33px !important;
}

.heading_title:hover {
  color: #da251d;
}

.heading_title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #da251d;
  transition: width 0.4s ease-out;
}

.heading_title:hover::before {
  width: 90%;
}
.shortnews_card_img {
  width: 100%;
  height: 100%;
}

.shareIconBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #ffffff;
  padding: 20px;
}
.footerCategory{
  display: flex;gap: 1.5rem;
}
.desktop-advertise{
  display: block;
}
.mobile-advertise{
  display: none;
}
.mobileAd{
  width: 98%;
  margin: 1rem;
}
.historicalMobile{
  margin-left: 1rem;
}
.mobile-bottom-subheading-card{
  height: 150px;
}
.sideSection{
  margin-right:1rem;
  margin-top: 1rem;
}
.parliamentariancardsection{
  margin: 0.8rem;
}
.bigNewsSection{
  padding:1rem 0;
}
.categoriesSection{
  padding:0 ;
}
.mobileViewDetails{
  padding: 0rem 0.7rem
}
.mlanewssection{
  padding:0 0.5rem
}
@media (min-device-width: 300px) and (max-device-width: 768px) {
 
  .categoriesSection{
    width: 48%;
    padding:0;
  }
 
  .categoriesContainer{
    overflow-x: scroll;
    display: flex;
    /* flex-wrap: wrap; */
    gap:1rem;
    padding: 0 1rem;   /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.categoriesContainer::-webkit-scrollbar {
    display: none; /* WebKit browsers (Chrome, Safari) */
}
  .bigNewsSection{
    padding:1rem 0 0 0;
  }
  .mlanewssection{
    padding:0 0.5rem
  }
  .parliamentariancardsection{
    margin: 0.8rem 0;
  }
  .relatedNews{
    padding:0rem;
    gap: 1rem;
  }
  .subheadingcardmobile{
    flex-direction: column;
  }
  .parliamentarian-section {
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow: scroll;

    /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.parliamentarian-section::-webkit-scrollbar {
    display: none; /* WebKit browsers (Chrome, Safari) */
}

  .sideSection{
    margin-right: 0rem;
    margin-top:0rem;
    /* padding: 1rem;
    display: flex;
    flex-direction: column;*/
    width: 96%;
  }
 .mobileCenterBackgroundCard{
  width: 47%;
 }
  .mobile-bottom-subheading-card{
    height: auto;
  }
  .mobile-three-card-section{
    flex-direction: row;
  }
  .headingNewsCardImage{
    height: 200px;
  }
  .mobileAd{
    width: 100%;
    margin: 1rem 0;
  }
  .historicalMobile{
    margin-left: 0rem;
  }
  .sideCardMobileView{
    padding-right: 0rem;
  }
  .categorieSubheadingCard{
    padding: 1rem 0;
  }
  .news_desc{
    display: none;
  }
  .keywords{
    flex-wrap: wrap;
  }
  .footerCategory{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .shareIconBox {
    width: 90%;
    padding: 15px;
  }
  .shortnews_card_img {
    height: auto;
  }
  .homePageNewsBox2 {
    margin: 20px 0px;
  }

  .homeNewsContainer {
    padding: 12px 0px;
  }
  .heading_title {
    font-size: 1.2rem !important;
    line-height: 33px !important;
    letter-spacing: 0.1px !important;
  }
  .vedio_news_box {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .homePageNewsBox1 {
    width: 100%;
    max-width: none;
  }
  .homePageNewsBox2 {
    max-width: 100%;
  }
  .homePageNewsBox3 {
    max-width: 100%;
  }
  .homeNewsContainer {
    display: block;
  }
  .pfLogo {
    height: 32px;
    margin-top: 7px;
  }
  .desktop-advertise{
    display: none;
  }
  .mobile-advertise{
    display: block;
  }
  .categorieSubheadingCard {
    max-width: 100%;
  }
  .categoriesSideCard {
    max-width: 100%;
  }
  .advertise_img {
    width: 100%;
  }
  .bottomSubHeadingCardBox {
    flex-direction: column;
    margin:0
  }
  .CenterVirusConfrontSection {
    overflow-x: scroll;
       scrollbar-width: none; /* Firefox */
       -ms-overflow-style: none; /* Internet Explorer 10+ */
   }
   
   .CenterVirusConfrontSection::-webkit-scrollbar {
       display: none; /* WebKit browsers (Chrome, Safari) */
   }
  .subheadingCardImage {
    max-width: 165px;
    min-width: 0;
    height: 100px;
  }
  .centerCardBox {
    width: 100%;
    height: 100%;
    max-height: 200px;
  }
  .Bottom_card_box {
    width: 100%;
    height: auto;
  }
  .mobileSmallAdImage{
    width: 300px !important;
    height: auto;
  }
  .trendingNewsWidthmobile{
    padding: 0 !important;
  }
  .mobileViewDetails{
    padding: 0rem 1rem
  }
}
