

.mobileHeader{
    display: none;
}
.DetailsContainer{
    width: 67%;
}
.sticky {
    position: -webkit-sticky; 
    position: sticky;
    top: 1rem; 
  }
  .researchEndorsementImage{
    width:auto;
    height:400px
  }
.sideNewCardsWidth{
    max-width: min-content;
}
.MobileViewRemove{
    display: flex;
    }
    .bottomSubHeadingCardWidth{
        max-width: 200px;
    }
    .aboutContainer{
        flex-direction: row;
    }
    .aboutTabVal{
        flex-direction: column;
        width: 100px;
    }
    .aboutContent{
        width: 80%;
        max-width: 950px;
    }
    .aboutTabVal{
        display: flex;
    }
    .contactContainer{
        flex-direction: row;
    }
@media (max-width: 775px) {
    .form_text{
        margin-left: 40px !important;
    }    
    .form_checkbox{
        margin-top: 10px !important;
        margin-left: 0 !important;
    }
    .form_stack{
        display: flex !important;
        flex-direction: column !important;
        width: 320px !important;
        
        .form_textfield{
            margin-left: 0;
        }
    }
    .contactContainer{
        flex-direction: column-reverse !important;
    }
    .researchEndorsementImage{
        width:100%;
        height:auto
      }
    .privacytabVal{
        display: none;
    }
    .aboutContainer{
        flex-direction: column;
    }
    .aboutContent{
        width: 100%;
    }
    .aboutTabVal{
        flex-direction: row;
        width: 100%;
    }
    .MainContainer{
        overflow-y: hidden;
    }
    .DetailsContainer{
        width: 100%;
    }
    .sideNewCardsWidth{
        max-width: max-content;
        padding: 0 0.5rem;
    }
    
    .DownlaodAppSection{
        margin-left:10rem;
    }
    .MobileViewRemove{
    display: none;
    }
    .mobileHeader{
        display: block;
    }
    .BigNewsCardContainer{
        flex-wrap: wrap;
    }
    .SideNewCards{
        display: flex;
        flex-wrap: wrap;
        gap:0.5rem
    }
    .bottomSubHeadingCardWidth{
        max-width: 500px;
    }
  }
@media (max-width: 1200px) {
   .headCard{
    flex-wrap:wrap;
   }
  }
@media (max-width: 1000px) {
   .BigNewsCardSection{
    flex-wrap: wrap;
   }
  
  }